@import url("https://fonts.googleapis.com/css?family=Poppins:400");

/* Page Styles */

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 3.7vw;
	background-color: #f1f1f1;
}

body.blue {
	background-color: var(--primary);
}

p {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
}

button * {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/* --------------------Common Use Variables-------------------- */

:root {
	/* Colors */
	--primary: #00b998;
	--secondary: #ff525f;
	/* Oliver Colors */
	--oliver-blue: #2797e8;
	--oliver-red: #ff525f;
	--oliver-violet: #a568bc;
	--oliver-cyan: #1db9ca;
	--oliver-teal: #47d2a5;
	--oliver-lime: #a1e663;
	--oliver-yellow: #ffd026;
	--oliver-coral: #ff8552;
}

/* --------------------Margins-------------------- */

.m-b-9 {
	margin-bottom: 0.83vw !important;
}

.m-b-27 {
	margin-bottom: 2.5vw !important;
}

.m-b-35 {
	margin-bottom: 3.24vw !important;
}

.m-b-44 {
	margin-bottom: 4.07vw !important;
}

/* --------------------Increment Input-------------------- */

.increment-input {
	box-sizing: border-box;
	display: flex;
	width: 15.09vw;
	height: 4.44vw;
	border: 0.092vw solid #e5e0eb;
}

.increment-input>.decrement {
	box-sizing: border-box;
	width: 25%;
	height: 3.15vw;
	border-right: 0.092vw solid #e5e0eb;
	background-color: #fff;
	margin: 0.65vw 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.increment-input>.increment {
	box-sizing: border-box;
	width: 25%;
	height: 3.15vw;
	border-left: 0.092vw solid #e5e0eb;
	background-color: #fff;
	margin: 0.65vw 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.increment-input>.decrement:hover,
.increment-input>.increment:hover {
	cursor: pointer;
}

.increment-input>input[type="number"] {
	width: 50%;
	height: 100%;
	border: 0;
	padding: 0;
	outline: 0;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	text-align: center;
	color: #3d4c66;
}

.increment-input>input[type="number"]:hover {
	cursor: default;
}

.increment-input>input[type="number"]::placeholder {
	color: #3d4c66;
}

/*Recommendations*/

.recommendations {
	background-color: rgba(10, 172, 219, 0.1);
	height: 30.56vw;
	margin: 0 -3.7vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 3.43vw;
}

.recommendations>p {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 600;
	line-height: 2.5vw;
	color: #050505;
	margin-bottom: 2.41vw;
}

.recommendations>.row {
	display: flex;
	width: 100%;
	justify-content: center;
}

.recommendations>.row>.prod {
	position: relative;
	width: 18.8vw;
	height: 19.53vw;
	box-sizing: border-box;
	border: 0.19vw solid #e2e2e2;
	border-radius: 0.74vw;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1.02vw 0.93vw 1.02vw;
	margin-right: 2.22vw;
}

.recommendations>.row>.prod:last-of-type {
	margin: 0;
}

.recommendations>.row>.prod:hover {
	cursor: pointer;
}

.recommendations>.row>.prod:active {
	transform: scale(0.9);
}

.recommendations>.row>.prod>img {
	max-width: 13.43vw;
	max-height: 9.72vw;
	width: auto;
	height: auto;
}

.recommendations>.row>.prod>p.name {
	font-family: Poppins;
	font-size: 1.3vw;
	font-weight: 400;
	line-height: 1.67vw;
	text-align: center;
	color: #050505;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 0.5vw;
}

.recommendations>.row>.prod>p.price {
	font-family: Poppins;
	font-size: 1.3vw;
	font-weight: 400;
	line-height: 1.67vw;
	text-align: center;
	color: var(--secondary);
}

.recommendations>.row>.prod>.button {
	position: absolute;
	bottom: 0.93vw;
	width: 16.95vw;
	height: 3.89vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	border-radius: 0.37vw;
	font-family: Poppins;
	font-size: 1.3vw;
	font-weight: 500;
	line-height: 1.67vw;
	color: #fff;
}

.recommendations>.row>.prod>.button>svg {
	margin-right: 1.25vw;
}

/* --------------------Scrollable Container-------------------- */

.scrollable {
	width: 100%;
	flex-grow: 1;
	height: 0;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

/* --------------------Header-------------------- */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1.39vw;
}

.header>img {
	width: 22.87vw;
	height: auto;
}

.header>img:hover {
	cursor: pointer;
}

.header>.row {
	display: flex;
}

.header > .row > .col {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 6.94vw;
}

.header > .row > .col:hover {
	cursor: pointer;
}

.header > .row > .col:active {
	transform: scale(0.9);
}

.header > .row > .col > .app-icon {
	position: relative;
	width: 3.7vw;
	height: 3.7vw;
	box-sizing: border-box;
	border: 0;
	margin-bottom: 0.28vw;
	border-radius: 8px;
}

.header > .row > .col > p {
	font-family: Poppins;
	font-size: 1.11vw;
	font-weight: 500;
	line-height: 1.48vw;
	text-align: center;
}

.header > .row > .icon:not(.app) {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 5.37vw;
	height: 5.37vw;
	background-color: var(--primary);
	border-radius: 0.74vw;
	margin-left: 1.62vw;
	border: 0;
}

.header > .row > .icon:hover:not(:disabled):not(.app) {
	cursor: pointer;
}

.header > .row > .icon:active:not(:disabled):not(.app) {
	transform: scale(0.9);
}

.header>.row>.icon:disabled {
	opacity: 0.3;
}

.header > .row > .icon:not(.app) > p {
	position: absolute;
	top: calc(100% + 0.28vw);
	font-family: Poppins;
	font-size: 1.11vw;
	font-weight: 500;
	line-height: 1.47vw;
	text-align: center;
	color: var(--primary);
	max-width: 5vw;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.header > .row > .icon:not(.app) > .indicator {
	box-sizing: border-box;
	position: absolute;
	width: 2.59vw;
	height: 2.59vw;
	background-color: var(--secondary);
	border: 0.19vw solid #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	font-size: 1.11vw;
	font-weight: 700;
	line-height: 1.6vw;
	text-align: center;
	color: #fff;
	top: -0.93vw;
	right: -0.93vw;
}

/* --------------------Category Header-------------------- */

.category-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5.56vw;
}

.category-header>.col {
	display: flex;
	flex-direction: column;
}

.category-header>.col>p.path {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 500;
	line-height: 2.41vw;
	color: #758696;
	margin-bottom: 1.38vw;
}

.category-header>.col>p.current {
	font-family: Poppins;
	font-size: 2.96vw;
	font-weight: 600;
	line-height: 3.52vw;
	color: #050505;
	margin-bottom: 2.59vw;
}

.category-header>.col>.divider {
	width: 9.72vw;
	height: 0.46vw;
	background-color: var(--primary);
}

.category-header>button {
	width: 28.89vw;
	height: 4.91vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
	border: 0;
	border-radius: 0.74vw;
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 600;
	line-height: 2.22vw;
	color: #fff;
}

.category-header>button:hover {
	cursor: pointer;
}

.category-header>button:active {
	transform: scale(0.95);
}

.category-header>button>svg {
	margin-right: 1.48vw;
}

/* --------------------Slider-------------------- */

.slider-container {
	width: 92.59vw;
	height: 39.35vw;
	box-sizing: border-box;
	overflow: hidden;
}

.slider-container>.slider {
	width: 100%;
	height: 36.11vw;
	position: relative;
}

.slider-container>.slider>img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.slider-container>.slider-toggles {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 3.24vw;
}

.slider-container>.slider-toggles>.toggle {
	width: 1.2vw;
	height: 1.2vw;
	background-color: #aba7af;
	border-radius: 50%;
	margin-right: 0.74vw;
}

.slider-container>.slider-toggles>.toggle:last-of-type {
	margin: 0;
}

.slider-container>.slider-toggles>.toggle.selected {
	background-color: var(--primary);
}

.slider-container>.slider-toggles>.toggle:hover {
	cursor: pointer;
}

/* --------------------Section Title-------------------- */

p.section {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 600;
	line-height: 2.69vw;
	color: #050505;
	margin-bottom: 1.85vw;
}

/* --------------------Category Tiles-------------------- */

.category-tile-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4.54vw;
}

.category-tile-container::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

.category-tile {
	box-sizing: border-box;
	width: 17vw;
	height: 17vw;
	display: flex;
	margin-right: 1.85vw;
	/* flex: 1 0 20%; */
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	border: 0;
	border-radius: 0.74vw;
}

.category-tile:nth-child(5n) {
	margin-right: 0;
}

.category-tile:hover {
	cursor: pointer;
}

.category-tile:active {
	transform: scale(0.9);
}

.category-tile>p {
	font-family: Poppins;
	font-size: 2.03vw;
	font-weight: 600;
	line-height: 2.69vw;
	text-align: center;
	color: #fff;
	max-width: calc(100% - 1.85vw);
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* --------------------Card Tiles-------------------- */

.card-tile-container {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	min-height: 31.11vw;
	height: 62.22vw;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.card-tile-container>.product-card {
	position: relative;
	width: 21.76vw;
	height: 31.11vw;
	background-color: #fff;
	border-radius: 0.74vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.2vw;
	border: 0;
	margin: 0 1.85vw 1.85vw 0;
}

.card-tile-container > .product-card:nth-child(4n) {
	margin-right: 0;
}

.card-tile-container > .product-card:hover {
	cursor: pointer;
}

.card-tile-container>.product-card:active {
	transform: scale(0.9);
}

.card-tile-container>.product-card>.img-container {
	width: 14.6vw;
	height: 15.46vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.85vw;
}

.card-tile-container>.product-card>.img-container>img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.card-tile-container>.product-card>p.name {
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 600;
	line-height: 1.94vw;
	text-align: center;
	color: #050505;
	margin-bottom: 1.3vw;
	max-width: 17vw;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card-tile-container>.product-card>p.price {
	font-family: Poppins;
	font-size: 1.2vw;
	font-weight: 400;
	line-height: 1.57vw;
	text-align: center;
	color: var(--secondary);
	margin-bottom: 2.13vw;
}

.card-tile-container>.product-card>.button {
	position: absolute;
	bottom: 1.2vw;
	width: 19.21vw;
	height: 4.35vw;
	background-color: var(--primary);
	border-radius: 0.37vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	font-size: 1.3vw;
	font-weight: 500;
	line-height: 1.71vw;
	text-align: center;
	color: #fff;
}

.card-tile-container>.category-card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 1.2vw;
	width: 21.76vw;
	height: 31.11vw;
	background-color: var(--primary);
	border: 0;
	border-radius: 0.74vw;
	margin: 0 1.85vw 1.85vw 0;
}

.card-tile-container>.category-card:hover {
	cursor: pointer;
}

.card-tile-container>.category-card:active {
	transform: scale(0.9);
}

.card-tile-container>.category-card>.text-container {
	display: flex;
	flex-grow: 1;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.card-tile-container>.category-card>.text-container>p {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 700;
	line-height: 2.69vw;
	text-align: center;
	color: #fff;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card-tile-container>.category-card>.button {
	height: 4.35vw;
	width: 100%;
	box-sizing: border-box;
	border: 0.092vw solid #fff;
	border-radius: 0.37;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	font-size: 1.3vw;
	font-weight: 500;
	line-height: 1.67vw;
	text-align: center;
	color: #fff;
}

.card-tile-container>.category-card>.button>svg {
	margin-right: 1vw;
}

/* --------------------View Cart Button-------------------- */

.view-cart {
	width: 92.59vw;
	height: 6.94vw;
	border: 0;
	border-radius: 0.74vw;
	background-color: var(--secondary);
	font-family: Poppins;
	font-size: 2.22vw;
	line-height: 2.93vw;
	text-align: center;
	color: #fff;
	z-index: 2;
}

.view-cart:hover {
	cursor: pointer;
}

.view-cart:active {
	transform: scale(0.95);
}

/* --------------------Screen Cover-------------------- */

.cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
	z-index: 2;
	overflow: hidden;
}

/* --------------------Apps-------------------- */

/* Popup General */

.popup {
	box-sizing: border-box;
	position: fixed;
	background-color: #fff;
	border-radius: 1.85vw;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: scroll;
}

.popup>.popup-header {
	display: flex;
	align-items: center;
	margin-bottom: 7.13vw;
}

.popup>.popup-header>.popup-icon {
	width: 7.41vw;
	height: 7.41vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
	margin-right: 2.87vw;
}

.popup>.popup-header>.col {
	display: flex;
	flex-direction: column;
	transform: translateY(-5px);
}

.popup>.popup-header>.col>p {
	font-family: Poppins;
	font-size: 2.96vw;
	font-weight: 600;
	line-height: 3.89vw;
	text-align: left;
	margin-bottom: 1.11vw;
}

.popup>.popup-header>.col>.divider {
	width: 9.72vw;
	height: 0.46vw;
	background-color: var(--primary);
}

.popup>.popup-header>.col>.divider.large {
	width: 21.02vw;
}

.popup-close {
	position: absolute;
	right: 1.39vw;
	top: 1.39vw;
	padding: 1.39vw;
}

.popup-close:hover {
	cursor: pointer;
}

.popup-close:active {
	transform: scale(0.9);
}

/* Popup - Nutrition */

.popup.app1 {
	width: 89.63vw;
	height: 142.87vw;
	padding: 2.78vw;
}

/* Popup - Offers */

.popup.app2 {
	width: 87.31vw;
	height: 129.35vw;
	padding: 2.78vw;
}

/* Popup - Loyalty */

.popup.app3 {
	width: 74.07vw;
	height: 74.07vw;
	padding: 2.78vw;
}

/* Popup - Modify Ingredients */

.popup.mod-ingredients {
	width: 74.07vw;
	height: 84.44vw;
	box-sizing: border-box;
	border-radius: 1.85vw;
	background-color: #fff;
	padding: 4.17vw;
}

.popup.mod-ingredients>p {
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	color: #050505;
	margin-bottom: 3.98vw;
}

.popup.mod-ingredients>p.label {
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 500;
	line-height: 2.41vw;
	color: #050505;
	margin-bottom: 0.74vw;
}

.popup.mod-ingredients>.row {
	display: flex;
	margin-bottom: 3.52vw;
}

.popup.mod-ingredients>.row>label>input[type="radio"] {
	opacity: 0;
	position: fixed;
	left: -10000px;
}

.popup.mod-ingredients>.row>label>.custom-radio {
	width: 8.33vw;
	height: 5vw;
	box-sizing: border-box;
	border: 0.092vw solid var(--primary);
	border-radius: 0.37vw;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.93vw;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.5vw;
	text-align: center;
	color: var(--primary);
}

.popup.mod-ingredients>.row>label>input[type="radio"]:checked~.custom-radio {
	background-color: var(--primary);
	color: #fff;
}

.popup.mod-ingredients>.row>label>.custom-radio:hover {
	cursor: pointer;
}

.popup.mod-ingredients>button {
	position: absolute;
	left: calc(50% - 14.45vw);
	bottom: 4.17vw;
	width: 28.89vw;
	height: 4.91vw;
	border: 0;
	border-radius: 0.74vw;
	background-color: var(--secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 600;
	line-height: 2.22vw;
	color: #fff;
}

.popup.mod-ingredients>button:hover {
	cursor: pointer;
}

.popup.mod-ingredients>button:active {
	transform: scale(0.95);
}

/* --------------------Popup - Add Note-------------------- */

.popup.add-note {
	width: 78.52vw;
	height: 48.89vw;
	box-sizing: border-box;
	border-radius: 1.39vw;
	background-color: #fff;
	padding: 3.24vw;
	display: flex;
	flex-direction: column;
}

.popup.add-note > .popup-header {
	margin-bottom: 4.27vw;
}

.popup.add-note > .popup-header p {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 600;
	line-height: 2.69vw;
	color: #050505;
}

.popup.add-note > .popup-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.popup.add-note > .popup-body > p {
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 400;
	line-height: 2.69vw;
	color: #050505;
	margin-bottom: 1.85vw;
}

.popup.add-note > .popup-body > textarea {
	resize: none;
	box-sizing: border-box;
	padding: 1.11vw;
	width: 100%;
	/* height: 15.83vw; */
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 400;
	line-height: 2.69vw;
	flex-grow: 1;
	margin-bottom: 1.85vw;
}

.popup.add-note > .popup-body > button {
	width: 100%;
	height: 7.22vw;
	border: 0;
	border-radius: 0.74vw;
	background-color: var(--secondary);
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	color: #fff;
}

.popup.add-note > .popup-body > button:hover {
	cursor: pointer;
}

.popup.add-note > .popup-body > button:active {
	transform: scale(0.95);
}

/* --------------------Product-------------------- */

.product-container {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 0.28vw solid #f1f1f1;
	border-radius: 1.11vw;
	padding: 3.7vw;
	flex-grow: 1;
}

.product-container>.product-close {
	position: absolute;
	padding: 1.39vw;
	top: 2.31vw;
	right: 2.31vw;
}

.product-container>.product-close:hover {
	cursor: pointer;
}

.product-container>.product-close:active {
	transform: scale(0.9);
}

.product-container>p.prod-name {
	font-family: Poppins;
	font-size: 2.59vw;
	font-weight: 600;
	line-height: 3.15vw;
	color: #050505;
	width: 100%;
	padding-bottom: 2.22vw;
	border-bottom: 0.092vw solid #d4d2d5;
	margin-bottom: 2.87vw;
}

.product-container>.prod-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.product-container>.prod-wrapper>.row {
	display: flex;
	align-items: center;
	margin-bottom: 4.63vw;
}

.product-container>.prod-wrapper>.row>.img-container {
	/* width: 41.67vw; */
	height: 26.3vw;
	margin-right: 4.63vw;
	display: flex;
}

.product-container>.prod-wrapper>.row>.img-container>img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.product-container>.prod-wrapper>.row>.col {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.product-container>.prod-wrapper>.row>.col>p.prod-description {
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.5vw;
	color: #050505;
	margin-bottom: 3.89vw;
}

.product-container>.prod-wrapper>.row>.col>.inner-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.41vw;
}

.product-container>.prod-wrapper>.row>.col>.inner-row>.text-row {
	display: flex;
	align-items: center;
}

.product-container>.prod-wrapper>.row>.col>.inner-row>.text-row>p.price {
	font-family: Poppins;
	font-size: 2.59vw;
	font-weight: 500;
	line-height: 3.14vw;
	color: var(--secondary);
}

.product-container>.prod-wrapper>.row>.col>.inner-row>.text-row>p.subtext {
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.87vw;
	color: #aba7af;
}

.product-container>.prod-wrapper>.row>.col>.inner-row>button {
	box-sizing: border-box;
	width: 18.98vw;
	height: 5vw;
	background-color: #fff;
	border: 0.092vw solid var(--primary);
	border-radius: 0.37vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 400;
	line-height: 2.22vw;
	text-align: center;
	color: var(--primary);
}

.product-container>.prod-wrapper>.row>.col>.inner-row>button:hover {
	cursor: pointer;
}

.product-container>.prod-wrapper>.row>.col>.inner-row>button:active {
	transform: scale(0.95);
}

.product-container>.prod-wrapper>.row>.col>.increment-input {
	width: 15.09vw;
	height: 4.44vw;
}

.product-container>.prod-wrapper>.col {
	display: flex;
	flex-direction: column;
}

.product-container>.prod-wrapper>.col>p {
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 500;
	line-height: 2.22vw;
	color: #050505;
	margin-bottom: 0.65vw;
}

.product-container>.prod-wrapper>.col>.row {
	display: flex;
	margin-bottom: 2.31vw;
}

.product-container>.prod-wrapper>.col>.row>label>input[type="radio"] {
	opacity: 0;
	position: fixed;
	left: -10000px;
}

.product-container>.prod-wrapper>.col>.row>label>.custom-radio {
	padding: 1.3vw 3.15vw;
	border: 0.092vw solid var(--primary);
	border-radius: 0.37vw;
	margin: 0 1.11vw 1.11vw 0;
}

.product-container > .prod-wrapper > .col > .row > label > input[type="radio"]:checked ~ .custom-radio {
	background-color: var(--primary);
}

.product-container > .prod-wrapper > .col > .row > label > input[type="radio"]:checked ~ .custom-radio > p {
	color: #fff;
}

.product-container>.prod-wrapper>.col>.row>label>.custom-radio:hover {
	cursor: pointer;
}

.product-container>.prod-wrapper>.col>.row>label>.custom-radio>p {
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 400;
	line-height: 2.22vw;
	text-align: center;
	color: var(--primary);
}

.product-container>.prod-wrapper>.col>p.center {
	align-self: center;
	margin-bottom: 2.22vw;
}

.product-container>.prod-wrapper>.col>button {
	height: 5vw;
	box-sizing: border-box;
	border: 0.092vw solid var(--primary);
	border-radius: 0.37vw;
	background-color: #fff;
	margin-bottom: 2.96vw;
	font-family: Poppins;
	font-size: 1.76vw;
	font-weight: 400;
	line-height: 2.59vw;
	text-align: center;
	color: var(--primary);
}

.product-container>.prod-wrapper>.col>button:hover {
	cursor: pointer;
}

.product-container>.prod-wrapper>.col>button:active {
	transform: scale(0.95);
}

.product-container>.recommendations {
	height: 30.56vw;
	margin: 0 -3.7vw;
	margin-bottom: 2.43vw;
}

.product-container>button {
	height: 6.94vw;
	border: 0;
	border-radius: 0.74vw;
	background-color: var(--secondary);
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	text-align: center;
	color: #fff;
}

.product-container>button:hover {
	cursor: pointer;
}

.product-container>button:active {
	transform: scale(0.95);
}

/* --------------------Order Summary-------------------- */

body>div>div>div>.text-row {
	display: flex;
	margin-bottom: 1.76vw;
}

body>div>div>div>.text-row>p {
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.87vw;
	color: #050505;
	margin-right: 0.93vw;
}

body>div>div>div>.text-row>p.order-quantity {
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 400;
	line-height: 2.87vw;
	color: var(--primary);
}

.order-summary {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 0.28vw solid #f1f1f1;
	border-radius: 1.11vw;
	padding: 2.78vw;
	flex-grow: 1;
}

.order-summary svg:not(.increment-input *) {
	margin-right: 1vw;
}

.order-summary>.order-products-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	height: 22.22vw;
	flex-basis: auto;
	flex-grow: 1;
}

.order-summary>.order-products-wrapper::-webkit-scrollbar {
	display: none;
}

.order-summary>.order-products-wrapper>.order-product {
	padding: 1.67vw 0;
	border-bottom: 0.092vw solid #d4d2d5;
}

.order-summary>.order-products-wrapper>.order-product>.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* margin-right: 0.vw; */
}

.order-summary>.order-products-wrapper>.order-product>.row>p.prod-name {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 400;
	line-height: 2.59vw;
	color: #050505;
}

.order-summary>.order-products-wrapper>.order-product>.row>.inner-row {
	display: flex;
	align-items: center;
	margin-right: 0.18vw;
}

.order-summary>.order-products-wrapper>.order-product>.row>.inner-row>.increment-input {
	width: 15.09vw;
	height: 4.44vw;
	margin-right: 7.31vw;
}

.order-summary>.order-products-wrapper>.order-product>.row>.inner-row>p {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 400;
	line-height: 2.5vw;
	color: #050505;
	margin-right: 2.5vw;
}

.order-summary>.order-products-wrapper>.order-product>.row>.inner-row>svg {
	padding: 0.3vw;
	border: 0.092vw solid #d51a52;
}

.order-summary>.order-products-wrapper>.order-product>.row>.inner-row>svg:hover {
	cursor: pointer;
}

/* .order-summary > .order-products-wrapper > .order-product > .row > .inner-row > svg:active {
	transform: scale(0.9);
} */

.order-summary>.order-products-wrapper>.order-product>.col {
	display: flex;
	flex-direction: column;
}

.order-summary>.order-products-wrapper>.order-product>.col>p.prod-note {
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 300;
	line-height: 2.22vw;
	color: #050505;
	margin-left: 1.48vw;
}

.order-summary>.order-products-wrapper>.order-product>.footer-note {
	display: flex;
	align-items: center;
	margin: 7.68vw 0 0 1.48vw;
}

.order-summary>.order-products-wrapper>.order-product>.footer-note>p.strong {
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 700;
	line-height: 1.85vw;
	color: #050505;
	margin-right: 0.46vw;
}

.order-summary>.order-products-wrapper>.order-product>.footer-note>p.normal {
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 300;
	line-height: 2.22vw;
	color: #050505;
}

.order-summary>.order-products-wrapper>.order-note {
	padding: 1.67vw 0;
	border-bottom: 0.092vw solid #d4d2d5;
}

.order-summary>.order-products-wrapper>.order-note>.row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.11vw;
	margin-right: 0.18vw;
}

.order-summary>.order-products-wrapper>.order-note>.row>p {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 400;
	line-height: 2.59vw;
	color: #050505;
}

.order-summary>.order-products-wrapper>.order-note>.row>svg {
	padding: 0.2vw;
	border: 0.092vw solid #d51a52;
}

.order-summary>.order-products-wrapper>.order-note>.row>svg:hover {
	cursor: pointer;
}

/* .order-summary > .order-products-wrapper > .order-note > .row > svg:active {
	transform: scale(0.9);
} */

.order-summary>.order-products-wrapper>.order-note>.col {
	margin-left: 1.48vw;
}

.order-summary>.order-products-wrapper>.order-note>.col>p {
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 300;
	line-height: 2.22vw;
	color: #050505;
}

.order-summary>.order-products-wrapper>div:last-of-type {
	border-bottom: 0;
}

.order-summary>.cart-total {
	align-self: flex-end;
	margin-bottom: 2.69vw;
	margin-top: 2.69vw;
}

.order-summary>.cart-total>.row {
	display: flex;
	align-items: center;
}

.order-summary>.cart-total>.row>.text-container {
	width: 17.78vw;
}

.order-summary>.cart-total>.row>.text-container>p {
	max-width: 100%;
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 400;
	line-height: 2.59vw;
	color: #050505;
}

.order-summary>.cart-total>.row>.text-container>p.strong {
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 600;
	line-height: 2.78vw;
}

.order-summary>.cart-total>.row>.text-container>p.left {
	text-align: left;
}

.order-summary>.cart-total>.row>.text-container>p.right {
	text-align: right;
}

.order-summary>.cart-total>.divider {
	width: 100%;
	height: 0.092vw;
	margin: 2.22vw 0;
	background-color: #d4d2d5;
}

.order-instructions {
	box-sizing: border-box;
	height: 23.15vw;
	background-color: #f1f1f1;
	padding: 3.7vw 0;
}

.order-instructions>p {
	box-sizing: border-box;
	width: fit-content;
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 500;
	line-height: 3.06vw;
	color: #050505;
	border-bottom: 0.46vw solid var(--primary);
	margin-bottom: 2.41vw;
}

.order-instructions>textarea {
	box-sizing: border-box;
	width: 100%;
	height: 11.39vw;
	outline: 0;
	border: 0.092vw solid #e5e0eb;
	border-radius: 0.37vw;
	padding: 1.11vw;
	resize: none;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
}

/* --------------------Payment-------------------- */

.payment-view {
	box-sizing: border-box;
	position: absolute;
	border-radius: 1.85vw;
	background-color: #fff;
	box-shadow: 0px 30px 100px rgba(0, 73, 95, 0.5);
	overflow: auto;
	z-index: 2;
}

/* Select Payment Method */

.select-payment {
	width: 74.07vw;
	height: 74.07vw;
	padding: 4.17vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	overflow: auto;
}

.select-payment>.header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.select-payment>.header>img {
	width: 26.39vw;
	height: auto;
}

.select-payment>.header>.back-button {
	align-self: flex-start;
	width: 5.56vw;
	height: 5.56vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
	border-radius: 0.74vw;
	margin-bottom: 2.78vw;
}

.select-payment>.header>.back-button:hover {
	cursor: pointer;
}

.select-payment>.header>.back-button:active {
	transform: scale(0.9);
}

.select-payment>.total {
	display: flex;
	flex-direction: column;
	margin: 2.78vw 0;
}

.select-payment>.total>p {
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	color: #050505;
	text-align: center;
}

.select-payment>.total>p.amount {
	font-size: 2.59vw;
	font-weight: 500;
	line-height: 4.44vw;
}

.select-payment>.payment-options {
	width: 100%;
}

.select-payment>.payment-options>p {
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	color: #050505;
	margin-bottom: 3.06vw;
	text-align: center;
}

.select-payment>.payment-options>.row {
	display: flex;
	min-width: 37.04vw;
	margin-right: -1.48vw;
	margin-bottom: 1.48vw;
}

.select-payment>.payment-options>.row:last-of-type {
	margin-bottom: 0;
}

.select-payment>.payment-options>.row>button {
	width: 50%;
	height: 6.94vw;
	border-radius: 0.74vw;
	background-color: var(--secondary);
	border: 0;
	margin-right: 1.48vw;
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 3.33vw;
	text-align: center;
	color: #fff;
}

.select-payment>.payment-options>.row>button:hover {
	cursor: pointer;
}

.select-payment>.payment-options>.row>button:active {
	transform: scale(0.95);
}

/* Processing Payment */

.process-payment {
	width: 74.07vw;
	height: 74.07vw;
}

.process-payment>.wrapper {
	display: flex;
	flex-direction: column;
}

.process-payment>.wrapper>img {
	margin: 0 auto;
	width: 26.39vw;
	height: auto;
}

.process-payment>.wrapper>img.gif {
	width: 32.41vw;
	height: auto;
}

.process-payment>.wrapper>p {
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	text-align: center;
	max-width: 46.3vw;
	color: #050505;
	margin: 0 auto;
	margin-bottom: 5.19vw;
}

.process-payment>.wrapper>button {
	flex-shrink: 0;
	width: 41.48vw;
	height: 6.94vw;
	background-color: var(--secondary);
	border-radius: 0.37vw;
	border: 0;
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	text-align: center;
	color: #fff;
	margin: 0 auto;
	margin-bottom: 1.85vw;
}

.process-payment>.wrapper>button:hover {
	cursor: pointer;
}

.process-payment>.wrapper>button:active {
	transform: scale(0.95);
}

.process-payment>.wrapper>.temp {
	width: 9.26vw;
	font-size: 0.93vw;
	position: fixed;
	bottom: 0;
	left: 0.93vw;
}

/* Payment Error */

.error-payment {
	width: 74.07vw;
	height: 74.07vw;
}

.error-payment>.wrapper {
	display: flex;
	flex-direction: column;
}

.error-payment>.wrapper>img {
	margin: 0 auto;
	margin-bottom: 4.63vw;
}

.error-payment>.wrapper>svg {
	margin: 0 auto;
	margin-bottom: 5.56vw;
}

.error-payment>.wrapper>p {
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	text-align: center;
	color: #050505;
	max-width: 57.41vw;
	margin: 0 auto;
	margin-bottom: 5.56vw;
}

.error-payment>.wrapper>p.strong {
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	margin-bottom: 1.39vw;
}

.error-payment>.wrapper>button {
	margin: 0 auto;
	flex-shrink: 0;
	width: 41.48vw;
	height: 6.94vw;
	background-color: var(--secondary);
	border: 0;
	border-radius: 0.37vw;
	margin-bottom: 1.2vw;
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	text-align: center;
	color: #fff;
}

.error-payment>.wrapper>button:last-of-type {
	margin-bottom: 0;
}

.error-payment>.wrapper>button:hover {
	cursor: pointer;
}

.error-payment>.wrapper>button:active {
	transform: scale(0.95);
}

/* Payment Complete */

.complete-payment {
	width: 74.07vw;
	height: 118.06vw;
}

.complete-payment>.wrapper {
	display: flex;
	flex-direction: column;
}

.complete-payment>.wrapper>img {
	margin: 4.63vw auto 11.85vw auto;
}

.complete-payment>.wrapper>svg {
	margin: 0 auto 2.13vw auto;
}

.complete-payment>.wrapper>p.style1 {
	font-family: Poppins;
	font-size: 2.78vw;
	font-weight: 400;
	line-height: 3.7vw;
	text-align: center;
	color: #050505;
	margin: 0 auto 6.94vw auto;
}

.complete-payment>.wrapper>p.style2 {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 400;
	line-height: 2.69vw;
	text-align: center;
	color: #050505;
	margin: 0 auto 0.19vw auto;
}

.complete-payment>.wrapper>p.style3 {
	font-family: Poppins;
	font-size: 5.37vw;
	font-weight: 500;
	line-height: 7.13vw;
	text-align: center;
	color: #050505;
	margin: 0 auto 9.26vw auto;
}

.complete-payment>.wrapper>p.style4 {
	font-family: Poppins;
	font-size: 2.04vw;
	font-weight: 400;
	line-height: 2.5vw;
	text-align: center;
	color: #050505;
	margin: 0 auto 2.22vw auto;
}

.complete-payment>.wrapper>button {
	width: 45.19vw;
	height: 6.94vw;
	border: 0;
	border-radius: 0.37vw;
	background-color: var(--secondary);
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	text-align: center;
	color: #fff;
	margin: 0 auto 2.22vw auto;
}

.complete-payment>.wrapper>button:last-of-type {
	margin: 0 auto 7.13vw auto;
}

.complete-payment>.wrapper>button:hover {
	cursor: pointer;
}

.complete-payment>.wrapper>button:active {
	transform: scale(0.95);
}

.complete-payment>.wrapper>.divider {
	width: 45.19vw;
	height: 0.19vw;
	background-color: #e2e2e2;
	margin: 0 auto 2.59vw auto;
}

.complete-payment>.wrapper>.row {
	display: flex;
	margin: 0 auto 4.62vw auto;
}

.complete-payment>.wrapper>.row>.icon {
	position: relative;
	width: 5.93vw;
	height: 5.93vw;
	margin-right: 5.09vw;
	background-color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 0.93vw;
}

.complete-payment>.wrapper>.row>.icon:last-of-type {
	margin-right: 0;
}

.complete-payment>.wrapper>.row>.icon:hover {
	cursor: pointer;
}

.complete-payment>.wrapper>.row>.icon:active {
	transform: scale(0.9);
}

.complete-payment>.wrapper>.row>.icon>p {
	position: absolute;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 500;
	line-height: 2.22vw;
	text-align: center;
	color: var(--primary);
	top: calc(100%);
}

/* Email Reciept */

.email-payment {
	width: 74.07vw;
	height: 74.07vw;
}

.email-payment>.wrapper {
	display: flex;
	flex-direction: column;
}

.email-payment>.wrapper>img {
	margin: 4.63vw auto 9.26vw auto;
}

.email-payment>.wrapper>p {
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 400;
	line-height: 2.96vw;
	text-align: center;
	margin: 0 auto 1.11vw auto;
}

.email-payment>.wrapper>input[type="email"] {
	box-sizing: border-box;
	width: 59.26vw;
	height: 6.3vw;
	outline: 0;
	border: 0.092vw solid #e5e0eb;
	border-radius: 0.19vw;
	background-color: #fff;
	padding: 0 1.11vw;
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 400;
	line-height: 3.15vw;
	margin: 0 auto 1.67vw auto;
}

.email-payment>.wrapper>input[type="email"]:focus {
	border-color: var(--primary);
}

.email-payment>.wrapper>label {
	margin: 0 auto 6.39vw auto;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	text-align: center;
	color: #050505;
	display: flex;
	align-items: center;
}

.email-payment>.wrapper>label {
	cursor: pointer;
}

.email-payment>.wrapper>label>input[type="checkbox"] {
	position: fixed;
	left: -10000px;
	opacity: 0;
}

.email-payment>.wrapper>label>.custom-checkbox {
	width: 3.7vw;
	height: 3.7vw;
	border: 0.092vw solid #e5e0eb;
	border-radius: 0.74vw;
	background-color: #fff;
	margin-right: 0.93vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.email-payment>.wrapper>label>.custom-checkbox>svg {
	display: none;
}

.email-payment>.wrapper>label>input[type="checkbox"]:checked~.custom-checkbox {
	border-color: var(--primary);
}

.email-payment>.wrapper>label>input[type="checkbox"]:checked~.custom-checkbox>svg {
	display: block;
}

.email-payment>.wrapper>button {
	width: 46.3vw;
	height: 6.94vw;
	border: 0;
	border-radius: 0.37vw;
	background-color: var(--secondary);
	font-family: Poppins;
	font-size: 2.22vw;
	font-weight: 500;
	line-height: 2.96vw;
	text-align: center;
	color: #fff;
	margin: 0 auto 4.63vw auto;
}

.email-payment>.wrapper>button:hover {
	cursor: pointer;
}

.email-payment>.wrapper>button:active {
	transform: scale(0.95);
}

.oliver-mark {
	z-index: 1;
	width: 16.94vw;
	height: 10.28vw;
	position: fixed;
	bottom: 2.96vw;
	left: calc(50% - 8.47vw);
}

/* --------------------Idle Screen-------------------- */

.idle-screen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #758696;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}

.idle-screen > .body {
	width: 51.76vw;
	height: 60.46vw;
	background-color: #fff;
	border-radius: 1.39vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.idle-screen > .body p {
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 400;
	line-height: 2.41vw;
	text-align: center;
	color: #050505;
	max-width: 85%;
}

.idle-screen > .body p.bold {
	font-size: 2.41vw;
	font-weight: 600;
	line-height: 2.87vw;
	margin-bottom: 3.15vw;
}

.idle-screen > .body p#timeoutNumber {
	font-weight: 700;
}

.idle-screen > .body > .icon-container {
	width: 19.72vw;
	height: 19.72vw;
	border-radius: 50%;
	background-color: var(--primary);
	margin-bottom: 3.7vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.idle-screen > .body > .icon-container > img {
	max-width: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.idle-screen > .body > .text-row {
	display: flex;
	margin: 3.7vw 0;
}

.idle-screen > .body > .text-row > #timeoutNumber {
	margin: 0 0.46vw;
}

.idle-screen > .body > button {
	width: 27.87vw;
	height: 4.44vw;
	background-color: var(--secondary);
	border: 0;
	border-radius: 0.37vw;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	text-align: center;
	color: #fff;
}

.idle-screen > .body > button:hover {
	cursor: pointer;
}

.idle-screen > .body > button:active {
	transform: scale(0.95);
}

/* --------------------Screensaver-------------------- */

.screensaver {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.screensaver>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	z-index: 1;
}

.screensaver>img.front {
	z-index: 2;
}

.screensaver>.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background-color: var(--secondary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.screensaver>.footer>img {
	max-width: 23.15vw;
	max-height: 15.74vw;
	width: auto;
	height: auto;
	margin-right: 4.17vw;
	border-radius: 1.8vw;
}

.screensaver>.footer>p {
	font-family: Poppins;
	font-size: 5.93vw;
	font-weight: 500;
	line-height: 7.78vw;
	max-width: 60.92vw;
	color: #fff;
}

/* --------------------Search Dropdown-------------------- */

.search-dropdown {
	width: 100%;
	height: 6.94vw;
	position: relative;
}

.search-dropdown>input[type="text"] {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	outline: 0;
	border: 0.092vw solid #aba7af;
	border-radius: 0.74vw;
	padding: 0 7.41vw 0 6.39vw;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	color: #050505;
}

.search-dropdown.open > input[type="text"] {
	border-radius: 0.74vw 0.74vw 0 0;
}

.search-dropdown>input[type="text"]:focus {
	border: 0.092vw solid var(--primary);
}

.search-dropdown>svg.left {
	position: absolute;
	left: 1.94vw;
	top: calc(50% - 1.57vw);
}

.search-dropdown>svg.right {
	position: absolute;
	right: 1.94vw;
	top: calc(50% - 1.2vw);
}

.search-dropdown > input[type="text"]:focus ~ svg path {
	fill: #00b998;
}

.search-dropdown>.option {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 0.092vw solid var(--primary);
	border-top: 0;
	/* border-radius: var(--border-radius-medium); */
	padding: 0 7.41vw 0 6.39vw;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	color: #050505;
	/* top: 75px; */
	background-color: #fff;
	display: flex;
	align-items: center;
	z-index: 100;
}

.search-dropdown>.option:last-of-type {
	border-radius: 0 0 0.74vw 0.74vw;
}

.search-dropdown>.option:hover {
	cursor: pointer;
	background-color: var(--primary);
	color: #fff;
}

/* --------------------Login-------------------- */

.login-wrapper {
	width: 100%;
	min-height: calc(100vh - 7.4vw);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-wrapper > form {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 100%;
	margin-top: 4.63vw;
}

.login-wrapper > form > img {
	width: 19.26vw;
	height: 6.73vw;
	margin: 0 auto 9.75vw auto;
}

.login-wrapper > form > p {
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 400;
	line-height: 2.69vw;
	text-align: center;
	margin: 0 auto 3.15vw auto;
	color: #3d4c66;
}

.login-wrapper > form > label {
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 300;
	line-height: 2.22vw;
	width: 32.13vw;
	margin: 0 auto;
	color: #3d4c66;
}

.login-wrapper > form > input {
	box-sizing: border-box;
	width: 32.13vw;
	height: 4.07vw;
	padding: 0 1.11vw;
	outline: 0;
	border: 0.092vw solid #e5e5e5;
	margin: 0 auto 2.59vw auto;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 300;
	line-height: 2.22vw;
	color: #3d4c66;
}

.login-wrapper > form > input:focus {
	border-color: var(--oliver-blue);
}

.login-wrapper .row {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32.13vw;
	margin: 0 auto 2.59vw auto;
}

.login-wrapper .row.apart {
	justify-content: space-between;
}

.login-wrapper > form > .row > a {
	font-family: Poppins;
	font-size: 1.3vw;
	font-weight: 400;
	line-height: 1.94vw;
	color: #758696;
}

.login-wrapper > form > .row > a:hover {
	text-decoration: underline solid 0.19vw;
}

.login-wrapper > form > .row > .checkbox-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
	font-size: 1.3vw;
	font-weight: 400;
	line-height: 1.94vw;
	color: #758696;
}

.login-wrapper > form > .row > .checkbox-wrapper:hover {
	cursor: pointer;
}

.login-wrapper > form > .row > .checkbox-wrapper > input[type="checkbox"] {
	position: fixed;
	left: 10000px;
	opacity: 0;
}

.login-wrapper > form > .row > .checkbox-wrapper > .custom-checkbox {
	width: 1.85vw;
	height: 1.85vw;
	border: 0.092vw solid #e5e0eb;
	background-color: #fff;
	border-radius: 0.37vw;
	margin-right: 0.46vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-wrapper > form > .row > .checkbox-wrapper > .custom-checkbox > img {
	width: 0.94vw;
	height: 0.75vw;
	display: none;
}

.login-wrapper > form > .row > .checkbox-wrapper > input[type="checkbox"]:checked ~ .custom-checkbox {
	border-color: var(--oliver-blue);
}

.login-wrapper > form > .row > .checkbox-wrapper > input[type="checkbox"]:checked ~ .custom-checkbox > img {
	display: block;
}

.login-wrapper button {
	width: 32.13vw;
	height: 4.07vw;
	margin: 0 auto 2.59vw auto;
	border: 0;
	background-color: var(--oliver-blue);
	border-radius: 0.37vw;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	text-align: center;
	color: #fff;
}

.login-wrapper button:hover {
	cursor: pointer;
}

.login-wrapper button:active {
	transform: scale(0.95);
}

.login-wrapper > .row > .divider {
	width: 11.81vw;
	height: 0.092vw;
	background-color: #758696;
}

.login-wrapper > .row > p.largethin {
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 400;
	line-height: 1.94vw;
	color: #758696;
}

.login-wrapper button.logo {
	position: relative;
	padding-left: 5.09vw;
}

.login-wrapper button.logo > .logo-container {
	box-sizing: border-box;
	width: 4.91vw;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	border: 0.19vw solid var(--oliver-blue);
	border-radius: 0.37vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-wrapper button.logo > .logo-container > .logo {
	border-radius: 0.37vw;
}

.login-wrapper button.logo.google {
	background-color: var(--oliver-blue);
}

.login-wrapper button.logo.google > .logo-container {
	border-color: var(--oliver-blue);
}

.login-wrapper button.logo.google > .logo-container > .logo {
	min-width: 0;
	min-height: 0;
	width: 4.54vw;
	height: 3.58vw;
}

.login-wrapper button.logo.facebook {
	background-color: #4267b2;
}

.login-wrapper button.logo.facebook > .logo-container {
	border-color: #4267b2;
}

.login-wrapper button.logo.facebook > .logo-container > .logo {
	min-width: 0;
	min-height: 0;
	width: 2.66vw;
	height: 1.97vw;
}

.login-wrapper button.logo.apple {
	background-color: #050505;
}

.login-wrapper button.logo.apple > .logo-container {
	border-color: #050505;
}

.login-wrapper button.logo.apple > .logo-container > .logo {
	min-width: 0;
	min-height: 0;
	width: 4.07vw;
	height: 2.54vw;
}

.login-wrapper button.logo.apple {
	background-color: #050505;
}

.login-wrapper button.logo.apple > .logo-container {
	border-color: #050505;
}

.login-wrapper button.logo.apple > .logo-container > .logo {
	border-color: #050505;
}

.login-wrapper > button:last-of-type {
	margin-bottom: 4.26vw;
}

.login-wrapper > .row > p.standard {
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 500;
	line-height: 1.94vw;
	color: #758696;
	margin-right: 0.46vw;
}

.login-wrapper > .row > a.bold {
	font-family: Poppins;
	font-size: 1.48vw;
	font-weight: 600;
	line-height: 1.94vw;
	color: #050505;
}

.login-wrapper > .row > a.bold:hover {
	text-decoration: underline solid 0.19vw;
}

.login-wrapper > .row:last-of-type {
	margin-bottom: 4.63vw;
}

/* --------------------Login Selection - Generic-------------------- */

.login-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 22.59vw;
}

.login-header.small-margin {
	margin-bottom: 7.78vw;
}

.login-header p {
	font-family: Poppins;
	font-size: 1.85vw;
	font-weight: 400;
	line-height: 2.78vw;
	color: #758696;
}

.login-header > .login-go-back {
	display: flex;
	align-items: center;
	width: fit-content;
}

.login-header > .login-go-back:hover {
	cursor: pointer;
	border-bottom: 0.092vw solid #758696;
}

.login-header > .login-go-back > img {
	width: 0.76vw;
	height: 1.52vw;
	margin-right: 0.74vw;
}

.login-selection-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.login-selection-wrapper > p {
	font-family: Poppins;
	font-size: 24px;
	font-weight: 400;
	line-height: 35px;
	color: #3d4c66;
	margin: 0 auto 1.48vw auto;
}

.login-selection-wrapper > .divider {
	width: 60px;
	height: 0.092vw;
	background-color: #3d4c66;
	margin: 0 auto 7.13vw auto;
}

.login-selection-wrapper > .login-card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 71.39vw;
	margin: 0 auto 4.63vw auto;
}

.login-card {
	box-sizing: border-box;
	width: 16.11vw;
	height: 23.7vw;
	border: 0.078vw solid #e1e1e1;
	border-radius: 0.63vw;
	padding: 2.43vw 0 1.77vw 0;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 2.31vw 2.31vw 0;
}

.login-card:nth-child(4n) {
	margin-right: 0;
}

.login-card:last-of-type {
	margin-right: 0;
}

.login-card:hover {
	cursor: pointer;
}

.login-card:active {
	transform: scale(0.9);
}

.login-card > .icon-container {
	background-color: var(--oliver-blue);
	width: 7.62vw;
	height: 7.62vw;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-card.violet > .icon-container {
	background-color: var(--oliver-violet);
}

.login-card.violet > .button {
	background-color: var(--oliver-violet);
	border-color: var(--oliver-violet);
}

.login-card.cyan > .icon-container {
	background-color: var(--oliver-cyan);
}

.login-card.cyan > .button {
	background-color: var(--oliver-cyan);
	border-color: var(--oliver-cyan);
}

.login-card.teal > .icon-container {
	background-color: var(--oliver-teal);
}

.login-card.teal > .button {
	background-color: var(--oliver-teal);
	border-color: var(--oliver-teal);
}

.login-card.lime > .icon-container {
	background-color: var(--oliver-lime);
}

.login-card.lime > .button {
	background-color: var(--oliver-lime);
	border-color: var(--oliver-lime);
}

.login-card.yellow > .icon-container {
	background-color: var(--oliver-yellow);
}

.login-card.yellow > .button {
	background-color: var(--oliver-yellow);
	border-color: var(--oliver-yellow);
}

.login-card.coral > .icon-container {
	background-color: var(--oliver-coral);
}

.login-card.coral > .button {
	background-color: var(--oliver-coral);
	border-color: var(--oliver-coral);
}

.login-card.red > .icon-container {
	background-color: var(--oliver-red);
}

.login-card.red > .button {
	background-color: var(--oliver-red);
	border-color: var(--oliver-red);
}

.login-card > .icon-container > img {
	width: 4.81vw;
	height: 4.81vw;
}

.login-card > .icon-container > img.fix-2 {
	transform: translateX(0.184vw);
}

.login-card > .icon-container > img.fix-1 {
	transform: translateX(0.092vw);
}

.login-card > .text-group > p {
	font-family: Poppins;
	font-size: 1.39vw;
	font-weight: 500;
	line-height: 2.04vw;
	text-align: center;
	color: #3d4c66;
	max-width: 11.71vw;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.login-card > .text-group > p.small {
	font-family: Poppins;
	font-size: 1.11vw;
	font-weight: 400;
	line-height: 1.57vw;
	text-align: center;
	color: #758696;
	max-width: 11.71vw;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.login-card > .button {
	box-sizing: border-box;
	width: 11.71vw;
	height: 3.74vw;
	background-color: var(--oliver-blue);
	border: 1px solid var(--oliver-blue);
	border-radius: 0.37vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	text-align: center;
	color: #fff;
}

.login-card.taken > .button {
	background-color: #fff;
	color: var(--oliver-blue);
}

.login-card.teal.taken > .button {
	color: var(--oliver-teal);
}

.login-card.red.taken > .button {
	color: var(--oliver-red);
}

.login-card.coral.taken > .button {
	color: var(--oliver-coral);
}

.login-card.violet.taken > .button {
	color: var(--oliver-violet);
}

.login-card.cyan.taken > .button {
	color: var(--oliver-cyan);
}

.login-card.yellow.taken > .button {
	color: var(--oliver-yellow);
}

.login-card.lime.taken > .button {
	color: var(--oliver-lime);
}

/* --------------------Login Selection - Register-------------------- */

.login-register-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.login-register-wrapper > p {
	font-family: Poppins;
	font-size: 24px;
	font-weight: 400;
	line-height: 35px;
	color: #3d4c66;
	margin: 0 auto 1.48vw auto;
}

.login-register-wrapper > .divider {
	width: 60px;
	height: 0.092vw;
	background-color: #3d4c66;
	margin: 0 auto 6.85vw auto;
}

.login-register-wrapper > .category-label {
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 500;
	line-height: 2.22vw;
	color: #3d4c66;
	width: 89.79vw;
	margin: 0 auto 1.85vw auto;
}

.login-register-wrapper > .category-divider {
	width: 89.79vw;
	height: 0.092vw;
	background-color: #aba7af;
	width: 89.79vw;
	margin: 0 auto 1.85vw auto;
}

.login-register-wrapper > .login-card-container {
	display: flex;
	flex-wrap: wrap;
	width: 89.79vw;
	height: fit-content;
	max-height: 23.7vw;
	overflow: hidden;
	margin: 0 auto 4.63vw auto;
	overflow-y: scroll;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.category-tile-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.login-register-wrapper > .login-card-container > .login-card:nth-child(5n) {
	margin: 0;
}

/* ---------------------KEEP AT BOTTOM--------------------- */

.hide {
	display: none !important;
}

.no-scroll {
	overflow: hidden !important;
}
