.contentTwoPartDividedHeight {
    height: calc(100% - 57px);
}
// .cart {
//     height: calc(100vh - 58.5px);
// }
// .cart-libary {
//     height: calc(100vh - 93px);
// }


// .pg-activity-filter-height,
// .pg-current-checkout {
//     height: calc(100vh - 130px);
// }

//======*checkout page*===========//

.pg-current-checkout {
    height: calc(100vh - 130px);
}
// .pg-activity-cart-details {
//      height: calc(100vh - 458px);
// }
.pg-activity-cart-details {
    height: calc(100vh - 400px);
}

.pg-section-filter {
    height: calc(100vh - 133px);
} 
.pg-customer-datails {
    height: calc(100vh - 431px);
}

.customer-tab-section{
    height: calc(100vh - 213px);
}

.pg-cmanagement-list {
    height: calc(100vh - 60px);
}
.cash_drawer_balance {
    height: calc(100vh - 75px)
}