.pie-chart {
    width: 26px;
    height: 26px;
    background-image: url(../img/web/chart.png);
    background-size: cover;
    overflow: hidden;
    padding: 3px;
    color: #4B4B4B;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

