.upgrade-content {
    h6 {
        font-family: "Poppins-semibold";
        margin-bottom: 10px;
    }
}
.card-body-content {
    .card-title {
        font-family: "Poppins-medium";
        margin-bottom: 10px;
    }
    .card-text,
    button { 
        font-family: "Poppins-light";
    }
}

.h1-title {
    font-size: 52px !important;
    line-height: 64px;
    letter-spacing: 0.2px;
}
.h2-title {
    font-size: 44px !important;
    line-height: 54px;
    letter-spacing: 0px;
}
.h3-title {
    font-size: 32px !important;
    line-height: 40px;
    letter-spacing: 0px;
}

.h4-title {
    font-size: 26px !important;
    line-height: 32px;
    letter-spacing: 0.2px;
}

.h5-title {
    font-size: 22px !important;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.h6-title {
    font-size: 20px !important;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.h7-title {
    font-size: 18px !important;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.subtitle-1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2;
}
.subtitle-2 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1;
}
.body-1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1;
}

.body-2 {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1;
}

.small-1 {
    font-size: 12px;
    font-weight: 500;
}

.small-2 {
    font-size: 12px;
    font-weight: 300;
}

.text-primary { color: #46A9D4 !important;}
.text-success { color: #A9D47D !important;}
.text-warning { color: #D1DF30 !important;}
.text-danger  { color: #E0654C !important;}
.text-white   { color: #FFFFFF !important;}
.text-black   { color: #4B4B4B !important;}